 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width= , initial-scale=1.0">
     <title>Crypt</title>
     <link rel="stylesheet" href="/static/style.css">
 </head>
 <body style="margin: 0; padding: 0;">
    <div class="app-crypt">
        <h2 class="encrypt-decrypt-heading">Encrypt-Decrypt</h2>
        <div class="encrypt-decrypt-controls">
            <div class="message-control">
                
            
                <form class="ciphertext" action="/" method="post">
                    <label for="rsa-oaep-message">Enter a message to encrypt:</label>
                    <input type="text" id="rsa-oaep-message" name="text" size="25"
                        name="message">
                    <br />
                    <br />
                    <br />
                    <span class="ciphertext-title">Ciphertext: </span>
                    <br />
                    <br />
                    <span class="ciphertext-value"><%= encrypt %></span>
                    <div class="crypt-button">
                        <input class="encrypt-button" type="submit" value="Encrypt">
                    </div>
                </form>
                <form class="decrypted" action="/decrypt" method="get">
                    <span class="decrypted-title">Decrypted: </span>
                    <br />
                    <br />
                    <span class="decrypted-value"><%= decrypt %></span>
                    <div class="crypt-button">
                        <input class="decrypt-button" type="submit" value="Decrypt">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
 </html>